<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473547658230-7hsfeljikdbaqv1u5o39a0vmc1skl1uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473547658230-7hsfeljikdbaqv1u5o39a0vmc1skl1uf</string>
	<key>API_KEY</key>
	<string>AIzaSyCWm1-YigY4QwYXOtjx1xeZeB0PMBkHclQ</string>
	<key>GCM_SENDER_ID</key>
	<string>473547658230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yurim.MyLittleUniverse</string>
	<key>PROJECT_ID</key>
	<string>my-little-universe</string>
	<key>STORAGE_BUCKET</key>
	<string>my-little-universe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473547658230:ios:a253d8e89363618c182dd7</string>
</dict>
</plist>